body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 8px;
  display: block;
}

.fanart {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(168,62,12,1) 23%, rgba(189,163,11,1) 100%);
}

.belle {
  border: 2px solid black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(231,218,250,1) 50%, rgba(97,0,126,1) 100%);
}

.oliver {
  border: 2px solid black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(66,114,180);
background: radial-gradient(circle, rgba(66,114,180,1) 0%, rgba(24,30,32,1) 15%, rgba(13,37,45,1) 17%, rgba(13,82,121,1) 29%, rgba(10,11,11,1) 65%, rgba(34,45,113,1) 100%);  
}

.gabriel {
  border: 2px solid black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(122,195,72);
background: radial-gradient(circle, rgba(122,195,72,1) 0%, rgba(66,107,74,1) 15%, rgba(30,121,13,1) 29%, rgba(83,191,137,1) 65%, rgba(126,238,84,1) 100%);
}

.villains {
  border: 2px solid black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(60,56,49);
background: linear-gradient(90deg, rgba(60,56,49,1) 7%, rgba(168,12,102,1) 23%, rgba(70,99,236,1) 51%, rgba(120,176,66,1) 71%, rgba(98,95,90,1) 79%, rgba(83,75,26,1) 89%, rgba(17,16,10,1) 99%);
}

.anime {
  border: 2px solid black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(185,187,189);
  background: radial-gradient(circle, rgba(185,187,189,1) 0%, rgba(163,163,163,1) 44%, rgba(6,6,6,1) 100%);  
}

.support {
  border: 2px solid black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(20,96,191);
background: radial-gradient(circle, rgba(20,96,191,1) 0%, rgba(127,197,91,1) 44%, rgba(139,7,134,1) 100%);  
}

.original-content {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
  background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

iframe {
  margin: 0 auto;
  display: block;
  width: 50%;
  height: 300px;
}

h3 {
  text-align: center;
  color: azure;
  text-decoration: underline;
  text-decoration-color: midnightblue;
}

html {
  background: rgb(3, 3, 3);
}

h1 {
  font-weight: 800;
  text-decoration: underline;
  text-align: center;
  color: rgb(29, 29, 29);
  border: 1px solid gold;
  border-radius: 15px;
  background-color: beige;
  padding: 10px;
}

h2 {
  color: gold;
}

h2.footHead {
  color: rgb(228, 209, 102);
  font-weight: 800;
}

a {
  color: aqua;
}

footer {
  text-align: center;
}

p {
  color: aliceblue;
  text-align: center;
  font-weight: 600;
}

#testP {
  border: 1px solid black;
  font-weight: 100;
}

.funParagraph {
  color: green;
}

#mainHeading {
  background-color: red;
  border-radius: 15px;
  padding: 10px;
}

.funNote {
  color: pink;
}

.synopsis {
  background-color: rgb(88, 70, 70);
  border-radius: 25%;
  padding: 20px;
  margin: 0 auto;
}

a:hover {
  color:deeppink;
}

a:active {
  color: bisque;
}